<div class="container">

  <div class="loading hidden">Loading&#8230;</div>

  
  <div>
  <h1 class="text-center">Eat-Da-Burger!</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6 offset-md-4">
      <form class="create-form">
        <div class="container">
          <div class="form-group mt-3">
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" placeholder="Add a burger" type="text" id="bu" name="name">
              </div>
              <div class="col-md-3">
                <button class="btn btn-success" type="submit">Add Burger</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  

      <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="burger-container">
          <h1>Burgers To Be Devoured:</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="4">Name</th>
                <th colspan="4">Creation Date</th>
              </tr>
            </thead>
            <tbody>
              
                    {{#each burger_data}}
                      {{#unless devoured}}

                        {{> burgers/burger-block}}
                      
                      {{/unless}}
                    {{/each}}

            </tbody>
          </table>
          <h1>Devoured Burgers:</h1>
              <button class="btn btn-success clear-devoured">Clear All Devoured</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th colspan="4">Name</th>
                <th colspan="4">Creation Date</th>
                <th>Devoured Date</th>
              </tr>
            </thead>
                      <tbody>
              
                    {{#each burger_data}}
                      {{#if devoured}}

                        {{> burgers/burger-block}}
                      
                      {{/if}}
                    {{/each}}

          </table>
        </div>
      </div>
    </div>
